body {
    background-color: #f8f9fa;
    font-family: "Bodoni Moda SC", serif;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.app-title {
    text-align: center;
    color: #663259;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(81, 17, 62, 0.6);
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(134, 63, 63, 0.1);
    background-color: #f8f9fa;
    margin-bottom: 20px;
    font-weight: bold;
}

.card-header {
    background-color: #663259;
    color: #fff;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.card-body {
    padding: 20px;
}

.app-title h2 {
    text-shadow: 2px 2px 4px rgba(81, 17, 62, 0.6);
}

.btn-danger {
    background-color: #663259;
    border: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-danger:hover {
    background-color: #ecb3db;
    color: #663259;
}

.delete-all {
    color: #ffffff;
    text-decoration: none;
    background-color: #663259;
    border: 2px solid #e2bed9;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.delete-all:hover {
    background-color: #e2bed9;
    color: #663259;
}

.input-group {
    margin-bottom: 15px;
}

.form-control {
    border-radius: 5px;
    background-color: #f8f9fa;
    border: 1px solid #a16ea1;
    color: #481930;
}

.list-group-item {
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #481930;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-group-item .fas.fa-times {
    color: #481930;
    cursor: pointer;
    transition: color 0.3s ease;
}

.list-group-item .fas.fa-times:hover {
    color: #ecb3db;
}

.custom-alert,
.custom-confirm {
    background-color: #f8f9fa;
    color: #663259;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.custom-alert .alert-btn,
.custom-confirm .confirm-btn {
    background-color: #663259;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: #663259 0.3s ease;
}

.custom-alert .alert-btn:hover,
.custom-confirm .confirm-btn:hover {
    background-color: #ecb3db;
    color: #663259;
}

.custom-alert p,
.custom-confirm p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
}

.custom-alert .button-group,
.custom-confirm .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
